<!--<form action="/login" method="post">-->
<!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
<!--<div class="form-group">-->
<!--<label>Username:</label>-->
<!--<input type="text" name="username" class="form-control"/>-->
<!--</div>-->
<!--<div>-->
<!--<label>Password:</label>-->
<!--<input type="password" name="pwd" class="form-control"/>-->
<!--</div>-->
<!--<div>-->
<!--<input type="submit" value="Log In"/>-->
<!--</div>-->
<!--</form>-->

<div id="login-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-signin" action="/login" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" name="email" class="form-control"
                               placeholder="Email address" required=""
                               autofocus="">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               required="" name="pwd">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            </div>
        </div>
    </div>
</div>



