<div id="signup-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark-alpa">
            <div class="modal-header">
                <h5 class="modal-title">Create A Swtych Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


