<div id="timeline">
    <ul>
        <li>
            <div>
                <div class="title">Launch Pre-Sale Whitelist</div>
                <div class="info">Open pre-sale whitelist.</div>
            </div>
            <span class="number">
                <span>11/15/2017</span>
                <span></span>
            </span>
        </li>
        <li>
            <div>
                <label class="title">Close Pre-Sale Whitelist</label>
                <p class="info">Close pre-sale whitelist launch.</p>
            </div>
            <span class="number">
                <span>01/14/2018</span>
                <span></span>
            </span>
        </li>
        <li>
            <div>
                <div class="title">Launch Public Sale Event</div>
                <div class="info">Public sale for TGE.</div>
            </div>
            <span class="number">
                <span>01/15/2018</span>
                <span></span>
            </span>
        </li>
        <li>
            <div>
                <div class="title">Close Public Sale Event</div>
                <div class="info">Close public sale.</div>
            </div>
            <span class="number">
                <span>02/15/2018</span>
                <span></span>
            </span>
        </li>
    </ul>
</div>