<!--<form action="/login" method="post">-->
<!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
<!--<div class="form-group">-->
<!--<label>Username:</label>-->
<!--<input type="text" name="username" class="form-control"/>-->
<!--</div>-->
<!--<div>-->
<!--<label>Password:</label>-->
<!--<input type="password" name="pwd" class="form-control"/>-->
<!--</div>-->
<!--<div>-->
<!--<input type="submit" value="Log In"/>-->
<!--</div>-->
<!--</form>-->

<div id="swytch-video-modal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 20vh;">
        <div class="modal-content">
            <video id="swytch-video" class="video-js vjs-default-skin" controls preload="none"
                   data-setup='{"aspectRatio":"640:267"}'>
                <source src="https://s3-us-west-2.amazonaws.com/swytch/DEMO.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<div id="swytch-video-modalx" class="modal fade">
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">

        </div>
    </div>
</div>



