<!doctype html>
<html lang="en" class="js">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110075480-1"></script>
    <script>
        window.dataLayer = window.dataLayer || []

        function gtag () {dataLayer.push(arguments)}

        gtag('js', new Date())
        gtag('config', 'UA-110075480-1')
    </script>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swtych</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="javascript software developer Eric Miller austin texas software engineer"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/video.js/dist/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/video.js/dist/video.min.js"></script>
    {{{_sections.head}}}
</head>
<body>
{{> topnav}}
{{{body}}}
<footer class="nav-bottom footer pt-5 mt-5">
    <div class="container">
        <div class="pull-left">
            <a class="logo" href="http://www.swytch.io">
                <img src="/images/swytch_logo_white.png">
            </a>
        </div>
    </div>
</footer>
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/umd/popper.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/smooth-scroll/dist/js/smooth-scroll.js"></script>
<script>var scroll = new SmoothScroll('a[href*="#"]')</script>
{{{_sections.scripts}}}
</html>
