<!DOCTYPE html>
<html class="js">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swtych</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="javascript software developer Eric Miller austin texas software engineer"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    {{{_sections.head}}}
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <span class="navbar-brand">
        <a href="http://www.swytch.io" class="logo">
                <img src="/images/logo-1.jpg">
        </a>
    </span>
</nav>
{{{body}}}
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/moment/min/moment.min.js"></script>
{{{_sections.scripts}}}
</html>
