<!doctype html>
<html lang="en" class="js">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110075480-1"></script>-->
    <!--<script>-->
    <!--window.dataLayer = window.dataLayer || []-->

    <!--function gtag () {dataLayer.push(arguments)}-->

    <!--gtag('js', new Date())-->
    <!--gtag('config', 'UA-110075480-1')-->
    <!--</script>-->
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Swtych</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="javascript software developer Eric Miller austin texas software engineer"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/iview/dist/styles/iview.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css"/>
    <script type="text/javascript" src="/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/iview/dist/iview.min.js"></script>
    {{{_sections.head}}}
    <!--<script type="text/javascript"> //<![CDATA[-->
    <!--var tlJsHost = ((window.location.protocol == 'https:') ? 'https://secure.comodo.com/' : 'http://www.trustlogo.com/')-->
    <!--document.write(unescape('%3Cscript src=\'' + tlJsHost + 'trustlogo/javascript/cot.js\' type=\'text/javascript\'%3E%3C/script%3E'))-->
    <!--//]]>-->
    <!--</script>-->
</head>
<body>
{{> login}}
{{> signup}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <section class="container">
        <div class="navbar-brand">
            <a class="" href="https://www.swytch.io">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     height="49.11222839355469" width="190.37362670898438"
                     viewBox="0 0 190.37362670898438 49.11222839355469">
                    <defs id="SvgjsDefs1064"></defs>
                    <g id="SvgjsG1065" rel="mainfill" name="main_text" xmlns:name="mainText_mainfill"
                       fill="#ffffff"
                       transform="translate(-1.7079908847808838,-16.773324966430664)">
                        <path d="M1.9928 52.23089999999999 l0.65003 -0.7318 c0.28475 -0.28514 0.56949 -0.24447 0.81397 -0.041077 c0.52881 0.44746 4.0271 4.4746 9.2339 4.4746 c6.4678 0 8.7051 -3.7424 8.7051 -6.7525 c0 -4.8 -5.5729 -6.1017 -10.495 -7.8102 c-4.3521 -1.5458 -8.542 -3.661 -8.542 -8.2983 c0 -4.1085 3.0102 -8.2983 10.21 -8.2983 c4.9627 0 8.5831 3.0508 9.5593 3.8237 c0.28475 0.24407 0.32542 0.48814 0.16271 0.7322 l-0.61017 0.81356 c-0.20339 0.28475 -0.40678 0.28475 -0.61017 0.081755 c-0.61017 -0.40719 -3.9051 -3.4987 -8.5017 -3.4987 c-5.2881 0 -8.1763 2.7254 -8.1763 6.3458 c0 4.1492 4.3932 5.4915 9.9254 7.4034 c3.9051 1.4237 9.1119 3.4576 9.1119 8.7051 c0 4.7191 -4.2301 8.664 -10.739 8.664 c-5.9797 0 -9.6 -3.945 -10.576 -4.8809 c-0.24407 -0.24407 -0.40678 -0.44746 -0.12203 -0.7322 z M69.76301694915254 24.975999999999992 c0.20339 0 0.40719 0.24486 0.20379 0.65166 l-15.092 31.729 c-0.080957 0.20339 -0.24367 0.3657 -0.44705 0.3657 l-0.40678 0 c-0.20339 0 -0.3661 -0.16231 -0.48814 -0.3657 l-5.3695 -11.349 l-5.3691 11.431 c-0.12203 0.16231 -0.28475 0.32503 -0.48814 0.32503 l-0.40678 0 c-0.20339 0 -0.3661 -0.16271 -0.44746 -0.32503 l-15.092 -31.77 c-0.20339 -0.3661 0 -0.61017 0.20299 -0.61017 l1.6271 0 c0.28475 0 0.3661 0.20339 0.52881 0.56908 l13.383 28.8 l4.9627 -10.739 l-8.5017 -18.061 c-0.20299 -0.40678 0 -0.65085 0.20339 -0.65085 l1.6271 0 c0.28475 0 0.32542 0.20339 0.52881 0.61058 l7.2403 15.701 l7.2407 -15.661 c0.20339 -0.3657 0.24407 -0.56908 0.52881 -0.56908 l1.6674 0 c0.20339 0 0.3661 0.24407 0.16271 0.61017 l-8.5013 18.02 l4.9623 10.658 l13.383 -28.759 c0.16271 -0.40719 0.24407 -0.61058 0.52881 -0.61058 l1.6267 0 z M100.39240677966102 25.057999999999993 c0.12203 0 0.24486 0.16231 0.12283 0.28435 l-13.383 18.631 l0 13.18 c0 0.32542 -0.12203 0.44746 -0.40678 0.44746 l-0.97627 0 c-0.48814 0 -0.65085 -0.24367 -0.65085 -0.7318 l0 -12.895 l-13.383 -18.631 c-0.12203 -0.12203 0 -0.28475 0.12203 -0.28475 l1.7894 0 c0.12203 0 0.24407 0.12203 0.32542 0.28475 l12.163 16.678 l12.122 -16.678 c0.12203 -0.16271 0.20299 -0.28475 0.3657 -0.28475 l1.7898 0 z M127.72810169491525 25.057999999999993 c0.28514 0 0.3665 0.080957 0.3665 0.44705 l0 1.0983 c0 0.28475 -0.081356 0.40678 -0.3665 0.40678 l-11.146 0 l0 30.142 c0 0.32542 -0.081356 0.44746 -0.3665 0.44746 l-0.97587 0 c-0.48814 0 -0.69153 -0.24367 -0.69153 -0.7318 l0 -29.858 l-11.105 0 c-0.28475 0 -0.44746 -0.081356 -0.44746 -0.40678 l0 -1.0983 c0 -0.32542 0.12203 -0.44746 0.44746 -0.44746 l24.285 0 z M160.31142372881357 52.39359999999999 c0.20339 0.20339 0.081755 0.48895 -0.28435 0.85505 c-3.0102 2.8881 -6.7119 4.6369 -11.593 4.6369 c-9.1932 0 -16.678 -7.2809 -16.678 -16.515 s7.4847 -16.597 16.678 -16.597 c4.5559 0 8.6644 1.7085 11.675 4.5966 c0.3661 0.3661 0.44746 0.61017 0.24407 0.77288 l-0.97627 0.81356 c-0.20299 0.20339 -0.3657 0.24367 -0.65044 -0.041077 c-1.75 -1.7492 -5.3703 -4.1492 -9.9262 -4.1492 c-10.047 0 -15.01 8.0542 -15.01 14.603 c0 6.6301 4.9627 14.522 15.01 14.522 c4.5559 0 7.9322 -2.3186 9.8034 -4.1085 c0.28475 -0.28475 0.48814 -0.44746 0.69153 -0.24407 z M191.63376271186442 25.057999999999993 c0.32542 0 0.44786 0.12203 0.44786 0.40678 l0 31.769 c0 0.24407 -0.081356 0.3661 -0.3661 0.3661 l-0.97627 0 c-0.44746 0 -0.65085 -0.24367 -0.65085 -0.65044 l0 -14.4 l-22.698 0 l0 14.603 c0 0.28514 -0.081356 0.44746 -0.3661 0.44746 l-1.1797 0 c-0.32542 0 -0.44746 -0.12203 -0.44746 -0.44746 l0 -31.688 c0 -0.28475 0.081356 -0.40678 0.44746 -0.40678 l1.139 0 c0.28475 0 0.40678 0.12203 0.40678 0.40678 l0 15.092 l22.698 0 l0 -15.092 c0 -0.28475 0.081356 -0.40678 0.40678 -0.40678 l1.1386 0 z"></path>
                    </g>
                </svg>
            </a>
        </div>
        <ul class="nav">

            <li class="nav-item">
                <button class="btn btn-link" data-toggle="modal" data-target="#login-modal">Login</button>
            </li>
            <li class="nav-item">
                <button data-target="#login-modal" class="btn btn-link">Sign Up</button>
            </li>

        </ul>
    </section>
</nav>

{{{body}}}

<footer class="nav-bottom">
    <div class="container">
        <div class="pull-left">
            <a class="logo" href="http://www.swytch.io">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     height="49.11222839355469" width="190.37362670898438"
                     viewBox="0 0 190.37362670898438 49.11222839355469">
                    <defs id="SvgjsDefs1064"></defs>
                    <g id="SvgjsG1065" rel="mainfill" name="main_text" xmlns:name="mainText_mainfill" fill="#ffffff"
                       transform="translate(-1.7079908847808838,-16.773324966430664)">
                        <path d="M1.9928 52.23089999999999 l0.65003 -0.7318 c0.28475 -0.28514 0.56949 -0.24447 0.81397 -0.041077 c0.52881 0.44746 4.0271 4.4746 9.2339 4.4746 c6.4678 0 8.7051 -3.7424 8.7051 -6.7525 c0 -4.8 -5.5729 -6.1017 -10.495 -7.8102 c-4.3521 -1.5458 -8.542 -3.661 -8.542 -8.2983 c0 -4.1085 3.0102 -8.2983 10.21 -8.2983 c4.9627 0 8.5831 3.0508 9.5593 3.8237 c0.28475 0.24407 0.32542 0.48814 0.16271 0.7322 l-0.61017 0.81356 c-0.20339 0.28475 -0.40678 0.28475 -0.61017 0.081755 c-0.61017 -0.40719 -3.9051 -3.4987 -8.5017 -3.4987 c-5.2881 0 -8.1763 2.7254 -8.1763 6.3458 c0 4.1492 4.3932 5.4915 9.9254 7.4034 c3.9051 1.4237 9.1119 3.4576 9.1119 8.7051 c0 4.7191 -4.2301 8.664 -10.739 8.664 c-5.9797 0 -9.6 -3.945 -10.576 -4.8809 c-0.24407 -0.24407 -0.40678 -0.44746 -0.12203 -0.7322 z M69.76301694915254 24.975999999999992 c0.20339 0 0.40719 0.24486 0.20379 0.65166 l-15.092 31.729 c-0.080957 0.20339 -0.24367 0.3657 -0.44705 0.3657 l-0.40678 0 c-0.20339 0 -0.3661 -0.16231 -0.48814 -0.3657 l-5.3695 -11.349 l-5.3691 11.431 c-0.12203 0.16231 -0.28475 0.32503 -0.48814 0.32503 l-0.40678 0 c-0.20339 0 -0.3661 -0.16271 -0.44746 -0.32503 l-15.092 -31.77 c-0.20339 -0.3661 0 -0.61017 0.20299 -0.61017 l1.6271 0 c0.28475 0 0.3661 0.20339 0.52881 0.56908 l13.383 28.8 l4.9627 -10.739 l-8.5017 -18.061 c-0.20299 -0.40678 0 -0.65085 0.20339 -0.65085 l1.6271 0 c0.28475 0 0.32542 0.20339 0.52881 0.61058 l7.2403 15.701 l7.2407 -15.661 c0.20339 -0.3657 0.24407 -0.56908 0.52881 -0.56908 l1.6674 0 c0.20339 0 0.3661 0.24407 0.16271 0.61017 l-8.5013 18.02 l4.9623 10.658 l13.383 -28.759 c0.16271 -0.40719 0.24407 -0.61058 0.52881 -0.61058 l1.6267 0 z M100.39240677966102 25.057999999999993 c0.12203 0 0.24486 0.16231 0.12283 0.28435 l-13.383 18.631 l0 13.18 c0 0.32542 -0.12203 0.44746 -0.40678 0.44746 l-0.97627 0 c-0.48814 0 -0.65085 -0.24367 -0.65085 -0.7318 l0 -12.895 l-13.383 -18.631 c-0.12203 -0.12203 0 -0.28475 0.12203 -0.28475 l1.7894 0 c0.12203 0 0.24407 0.12203 0.32542 0.28475 l12.163 16.678 l12.122 -16.678 c0.12203 -0.16271 0.20299 -0.28475 0.3657 -0.28475 l1.7898 0 z M127.72810169491525 25.057999999999993 c0.28514 0 0.3665 0.080957 0.3665 0.44705 l0 1.0983 c0 0.28475 -0.081356 0.40678 -0.3665 0.40678 l-11.146 0 l0 30.142 c0 0.32542 -0.081356 0.44746 -0.3665 0.44746 l-0.97587 0 c-0.48814 0 -0.69153 -0.24367 -0.69153 -0.7318 l0 -29.858 l-11.105 0 c-0.28475 0 -0.44746 -0.081356 -0.44746 -0.40678 l0 -1.0983 c0 -0.32542 0.12203 -0.44746 0.44746 -0.44746 l24.285 0 z M160.31142372881357 52.39359999999999 c0.20339 0.20339 0.081755 0.48895 -0.28435 0.85505 c-3.0102 2.8881 -6.7119 4.6369 -11.593 4.6369 c-9.1932 0 -16.678 -7.2809 -16.678 -16.515 s7.4847 -16.597 16.678 -16.597 c4.5559 0 8.6644 1.7085 11.675 4.5966 c0.3661 0.3661 0.44746 0.61017 0.24407 0.77288 l-0.97627 0.81356 c-0.20299 0.20339 -0.3657 0.24367 -0.65044 -0.041077 c-1.75 -1.7492 -5.3703 -4.1492 -9.9262 -4.1492 c-10.047 0 -15.01 8.0542 -15.01 14.603 c0 6.6301 4.9627 14.522 15.01 14.522 c4.5559 0 7.9322 -2.3186 9.8034 -4.1085 c0.28475 -0.28475 0.48814 -0.44746 0.69153 -0.24407 z M191.63376271186442 25.057999999999993 c0.32542 0 0.44786 0.12203 0.44786 0.40678 l0 31.769 c0 0.24407 -0.081356 0.3661 -0.3661 0.3661 l-0.97627 0 c-0.44746 0 -0.65085 -0.24367 -0.65085 -0.65044 l0 -14.4 l-22.698 0 l0 14.603 c0 0.28514 -0.081356 0.44746 -0.3661 0.44746 l-1.1797 0 c-0.32542 0 -0.44746 -0.12203 -0.44746 -0.44746 l0 -31.688 c0 -0.28475 0.081356 -0.40678 0.44746 -0.40678 l1.139 0 c0.28475 0 0.40678 0.12203 0.40678 0.40678 l0 15.092 l22.698 0 l0 -15.092 c0 -0.28475 0.081356 -0.40678 0.40678 -0.40678 l1.1386 0 z"></path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="pull-right">
        </div>
    </div>
</footer>
<!--<script language="JavaScript" type="text/javascript">-->
<!--COT('https://register.swytch.io/images/comodo_secure_seal_113x59_transp.png', 'CL1', 'none')-->
<!--</script>-->
<!--<a href="https://ssl.comodo.com/wildcard-ssl-certificates.php" id="comodoTL">Wildcard SSL</a>-->
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/umd/popper.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    })
</script>
{{{_sections.scripts}}}
</html>
