{{#section  'head'}}
    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->

{{/section}}


<section id="main" class="section-hero hero-solar">
    <div class="section-overlay gradient-overlay">
        <div class="jumbotron bg-clear">
            <div class="container p-5">
                <div class="w-75 m-auto p-1">
                    <h1 class="text-center">
                        SWYTCH IS A RENEWABLE<br/>
                        ENERGY ACCELERATOR<br/>
                    </h1>
                    <h4 class="text-center text-muted">
                        Blockchain technology unlocking a sustainable and equitable energy future
                    </h4>
                    <div class="w-100 text-center mt-5 mb-5">
                        <button class="btn btn-link fa-4x" data-toggle="modal" data-target="#swytch-video-modal">
                            <span class="fa fa-play-circle"></span>
                        </button>
                        <br/>
                        <b class="fa-2x text-bold">Learn About Swytch</b>
                    </div>
                    <div id="subscribe-section" class="mt-5 mb-5 text-center">

                        <!--<form id="subscribe-form" class="" method="post" action="/subscribe">-->
                        <!--<div class="input-group input-group-lg">-->
                        <!--<input type="text" class="form-control" placeholder="Enter your e-mail"-->
                        <!--aria-label="Enter your e-mail" v-model="email">-->
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-primary" type="button"-->
                        <!--@click="onSubscribe">Subscribe</button>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</form>-->
                        <subscribe-form></subscribe-form>
                        <b class="text-muted">Don't worry we will never share or sell your information.</b>
                    </div>
                    <div class="w-100  text-center pt-5">
                        <a href="#timeline-section" class="btn btn-link text-muted mt-5">
                            <span class="fa fa-chevron-circle-down fa-3x"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="timeline-section" class="section-hero text-dark">
    <div class="section-overlay">
        <div class="container">
            <h1>What is Swytch?</h1>
            <div class="row">
                <div class="col-12">
                    <p class="lead">
                        Swytch is a secure token for verifying the generation of sustainable energy to
                        incentivize the spontaneous formation of open and decentralized global power
                        infrastructures.
                    </p>
                    <p class="lead">The Swytch aims is to accelerate decarbonization through a global
                        transition from fossil fuels to renewables and to provide a decentralized, open and resilient
                        commons infrastructure for the verified generation and exchange of tokens of value and trust.
                    </p>
                </div>
            </div>
            <!--<hr class="bg-light"/>-->
            <div class="row mb-5">
                <div class="w-100">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="text-muted">Our Goal</h2>
                    <hr class="border-dark"/>
                    <ol class="ml-2 pl-2" style="font-size: 1.25em;">
                        <li>
                            <p>To create a global renewable energy incentive program leveraging blockchain technology
                                that results in the accelerated and magnified adoption of renewable energy</p>
                        </li>
                        <li>
                            <p>To become the leading source of renewable energy production and consumption information
                                via the consolidation of streaming data from devices in network and 3rd party industry
                                data sources</p>
                        </li>
                        <li>
                            <p>
                                To create a viable reserve currency for governments around the globe to use as the
                                staking mechanism for local crypto-currencies supporting sustainability initiatives
                            </p>
                        </li>
                        <li>
                            <p>
                                To build a network of individuals, organizations, and governments who seek to create a
                                global community and movement focused on building a sustainable energy future through
                                innovation, cooperation, and equitable distribution of infrastructure
                                To create a global renewable energy incentive program leveraging blockchain technology
                                that results in the accelerated and magnified adoption of renewable energy
                            </p>
                        </li>
                    </ol>
                </div>
                <article class="col">
                    <h2 class="text-muted">Our Mission</h2>
                    <hr class="border-dark"/>
                    <blockquote class="blockquote">
                        “To create a sustainable and equitable energy future”
                    </blockquote>
                    <p class="">
                        Swytch exists to facilitate the transformation of energy markets to meet the demands of our
                        changing world. In today’s electricity markets, consumers depend on a centralized grid that
                        passes on both the cost of generating electricity and the cost of transmitting electricity on
                        the grid. While traditional technologies and markets have required this set up, solar production
                        in one’s home will soon be cheaper than grid transmission costs alone. At the same time, wind
                        and hydro technologies continue to see vast improvements in efficiency and battery technologies
                        are bringing storage costs down precipitously.
                    </p>
                    <p>
                        While the technology has improved exponentially, the transition to renewables has not kept pace.
                        Our solution to accelerate and scale this transformation is a blockchain-based utility token
                        called Swytch. Swytch seeks to verify the generation of sustainable energy and incentivize the
                        development of open and decentralized global energy infrastructures. This revolutionary program
                        will address many of the systemic issues that plague the renewable energy markets today.

                    </p>
                    <p>
                        Our goal is to harness token economics and the immutability of blockchain technology to create a
                        virtuous cycle that incentivizes the rapid global adoption of renewable energy by governments,
                        corporations, communities, and individuals. Our mission is clear, the need is obvious, and the
                        solution is sound. Let’s work together to accelerate the Swytch to a sustainable and equitable
                        energy future
                    </p>
                </article>
            </div>

        </div>
    </div>
</section>
<section class="container-fluid bg-white p-lg-5 text-dark">
    <div class="container p-lg-5">
        <h1 class="h1">How it works</h1><br/>
        <div class="row">
            <div class="col-6">
                <p class="lead">The Swytch platform provides its users the means to generate Swytch currency through
                    renewable energy production and the ability to do transactions using the currency through a wallet
                    application.
                </p>
                <h5><b>The Swytch platform consists of the following elements:</b></h5>
                <p class="lead">
                    <b class="">Mobile clients - </b> an app which acts as a currency wallet; displays Swytch your
                    balance and
                    allows you
                    to spend and receive Swytch; shows energy production for the nodes linked to your solar arrays.
                </p>
                <p class="lead">
                    <b>Nodes -</b> an IoT device which consists of a tracking device which measures energy production
                    for your solar array; a storage device which holds a copy of the whole blockchain; a computing
                    device which
                    calculates Swytch reward amounts through an Oracle.
                </p>
                <p class="lead">
                    A contribution to the network to ensure tamper-proof blocks validation through Scrypt Proof-of-work.
                </p>
            </div>
            <div class="col-6">
                <img class="card-img" src="/images/swytch-how-it-works.jpg">
            </div>

        </div>
    </div>
</section>
<!--<section class="container-fluid bg-light">-->
<!--<div class="m-auto p-5 w-75  text-center">-->
<section id="timeline-section" class="section-hero hero-nasa text-dark">
    <div class="section-overlay dark-overlay">
        <div class="container text-center">
            <div class="p-4 border border-dark">
                <h2 class="">LET’S TAKE OUR ENERGY FUTURE INTO OUR OWN HANDS AND ACCELERATE THE SWYTCH TO
                    RENEWABLES.</h2>
            </div>
            <button class="btn btn-dark mt-4"> Download Whitepaper</button>
        </div>
    </div>
</section>
<section id="team" class="section-hero hero-code">
    <div class="section-overlay gradient-overlay">
        <div class="container m-auto">
            <h1 class="display-4">Meet Our Team</h1>
            <hr class="bg-light"/>
            <div class="card-deck">
                <div class="card bg-clear">
                    <img class="card-img-top rounded-circle" src="/images/team/john.jpg" alt="evan">
                    <div class="card-body">
                        <h4 class="card-title">JOHN CLIPPINGER</h4>
                        <p class="card-text">Founder, MIT Media Lab</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
                <div class="card bg-clear">
                    <img class="card-img-top rounded-circle" src="/images/team/redpath.jpg" alt="evan">
                    <div class="card-body">
                        <h4 class="card-title">JOHN REDPATH</h4>
                        <p class="card-text">Founder, CEO of Trailstone Group</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
                <div class="card bg-clear">
                    <img class="card-img-top rounded-circle" src="/images/team/caron.jpg" alt="evan">
                    <div class="card-body">
                        <h4 class="card-title">EVAN CARON</h4>
                        <p class="card-text">Founder and CEO<br/>Renewable energy expert/entrepreneur</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
                <div class="card bg-clear">
                    <img class="card-img-top rounded-circle" src="/images/team/young.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">YOUNGSOOK PARK</h4>
                        <p class="card-text">Director of Business Development, Chair of Millenium Project Korea</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card w-25 bg-clear ml-2 mr-2" style="width: 25% !important;">
                    <img class="card-img-top rounded-circle" src="/images/team/Pearsons.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">ANDREW PEARSONS</h4>
                        <p class="card-text">Director of Operations, Strategy and operations expert</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
                <div class="card w-25 bg-clear ml-2 mr-2" style="width: 25% !important;">
                    <img class="card-img-top rounded-circle" src="/images/team/fff.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">ERIC MILLER</h4>
                        <p class="card-text">Lead Engineer, Software Engineer and Systems Architect</p>
                        <a href="#" class="btn btn-link fa-2x m-auto"><span class="fa fa-linkedin-square"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="timeline-section" class="section-hero">
    <div class="section-overlay gradient-overlay-360">
        <div class="container">
            <h1 class="display-4">The Advisory Board</h1>
            <hr class="bg-light"/>
            <div class="m-auto">
                <div class="card-deck mb-5 mt-5">
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/Larson.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Kent Larson</h4>
                            <p class="card-text">MIT Media Lab – Director, City Sciences</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/Hardin.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Brad Hardin</h4>
                            <p class="card-text">CTO, Black & Veatch</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/seba.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Tony Seba</h4>
                            <p class="card-text">Stanford University – Clean energy expert</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/Hirsch.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">PETER HIRSHBERG</h4>
                            <p class="card-text">Principal, Maker City Project</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/hardjono.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Thomas Hardjono</h4>
                            <p class="card-text">MIT - Technical Director of MIT Internet Trust Consortium</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                    <div class="card bg-clear">
                        <img class="card-img-top rounded-circle" src="/images/team/lefabvre.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Curt Lefabvre</h4>
                            <p class="card-text">CEO, nDimensional</p>
                            <a href="#" class="btn btn-link fa-2x m-auto"><span
                                    class="fa fa-linkedin-square"></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{#section 'scripts'}}

    <script src="/javascripts/app.bundle.min.js"></script>

    <script>
        Vue.component('subscribe-form', {
            template: '<form id="subscribe-form" class="" method="post" action="/subscribe"><div class="input-group input-group-lg"><input type="text" class="form-control" placeholder="Enter your e-mail" aria-label="Enter your e-mail" v-model="email"><span class="input-group-btn"><button class="btn btn-primary" type="button" @click="onSubscribe">Subscribe</button></span></div></form>',
            data: function () {
                return {
                    email: ''
                }
            },
            methods: {
                onSubscribe: function (event) {
                    console.log(event)
                    console.log(this.$data.email)
                }
            }
        })
        var app2 = new Vue({
            el: '#subscribe-section',
        })
        $('#swytch-video-modal').on('hide.bs.modal', function (e) {
            videojs('swytch-video').pause()
        })
        $(document).ready(function () {
            $('#whitelist-form').submit(App.submit)
//            App.geoLocate(function (err, ip) {
//                $.ajax({
//                    method: 'GET',
//                    url: '/geo-locate?ip=' + ip,
//                }).done(function (data) {
//                    $('[data-country]').text(data.country)
//                    $('[data-ip]').text(ip)
//                }).fail(function (e) {
//                    console.error(e)
//                })
//            })
        })

        var recaptchaCallback = App.recaptchaCallback
    </script>
{{/section}}

