<div class="container my-5 py-5">
    <div class="row">
        <div class="col-6 w-50 m-auto pb-5">
            <form class="form-signin" id="login-form">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label>email:</label>
                    <input type="email" v-model="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" minlength="6" v-model="pwd" class="form-control"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                </div>
                <button type="button" @click="onLogin" class="btn btn-lg btn-primary btn-block">Submit
                </button>
            </form>
            <div id="login-alert" class="alert mt-3">
                <label class="message"></label>
            </div>
        </div>
    </div>
</div>

{{# section 'scripts'}}
    <script type="application/javascript" src="/javascripts/login.js"></script>
{{/section}}