<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-header">
                    <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse"
                            data-target="#nav-toggleable-md">
                        <span class="sr-only">Toggle nav</span>
                    </button>
                    <a class="sidebar-brand img-responsive logo" href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             height="49.11222839355469" width="190.37362670898438"
                             viewBox="0 0 190.37362670898438 49.11222839355469">
                            <defs id="SvgjsDefs1064"></defs>
                            <g id="SvgjsG1065" rel="mainfill" name="main_text" xmlns:name="mainText_mainfill"
                               fill="#ffffff"
                               transform="translate(-1.7079908847808838,-16.773324966430664)">
                                <path d="M1.9928 52.23089999999999 l0.65003 -0.7318 c0.28475 -0.28514 0.56949 -0.24447 0.81397 -0.041077 c0.52881 0.44746 4.0271 4.4746 9.2339 4.4746 c6.4678 0 8.7051 -3.7424 8.7051 -6.7525 c0 -4.8 -5.5729 -6.1017 -10.495 -7.8102 c-4.3521 -1.5458 -8.542 -3.661 -8.542 -8.2983 c0 -4.1085 3.0102 -8.2983 10.21 -8.2983 c4.9627 0 8.5831 3.0508 9.5593 3.8237 c0.28475 0.24407 0.32542 0.48814 0.16271 0.7322 l-0.61017 0.81356 c-0.20339 0.28475 -0.40678 0.28475 -0.61017 0.081755 c-0.61017 -0.40719 -3.9051 -3.4987 -8.5017 -3.4987 c-5.2881 0 -8.1763 2.7254 -8.1763 6.3458 c0 4.1492 4.3932 5.4915 9.9254 7.4034 c3.9051 1.4237 9.1119 3.4576 9.1119 8.7051 c0 4.7191 -4.2301 8.664 -10.739 8.664 c-5.9797 0 -9.6 -3.945 -10.576 -4.8809 c-0.24407 -0.24407 -0.40678 -0.44746 -0.12203 -0.7322 z M69.76301694915254 24.975999999999992 c0.20339 0 0.40719 0.24486 0.20379 0.65166 l-15.092 31.729 c-0.080957 0.20339 -0.24367 0.3657 -0.44705 0.3657 l-0.40678 0 c-0.20339 0 -0.3661 -0.16231 -0.48814 -0.3657 l-5.3695 -11.349 l-5.3691 11.431 c-0.12203 0.16231 -0.28475 0.32503 -0.48814 0.32503 l-0.40678 0 c-0.20339 0 -0.3661 -0.16271 -0.44746 -0.32503 l-15.092 -31.77 c-0.20339 -0.3661 0 -0.61017 0.20299 -0.61017 l1.6271 0 c0.28475 0 0.3661 0.20339 0.52881 0.56908 l13.383 28.8 l4.9627 -10.739 l-8.5017 -18.061 c-0.20299 -0.40678 0 -0.65085 0.20339 -0.65085 l1.6271 0 c0.28475 0 0.32542 0.20339 0.52881 0.61058 l7.2403 15.701 l7.2407 -15.661 c0.20339 -0.3657 0.24407 -0.56908 0.52881 -0.56908 l1.6674 0 c0.20339 0 0.3661 0.24407 0.16271 0.61017 l-8.5013 18.02 l4.9623 10.658 l13.383 -28.759 c0.16271 -0.40719 0.24407 -0.61058 0.52881 -0.61058 l1.6267 0 z M100.39240677966102 25.057999999999993 c0.12203 0 0.24486 0.16231 0.12283 0.28435 l-13.383 18.631 l0 13.18 c0 0.32542 -0.12203 0.44746 -0.40678 0.44746 l-0.97627 0 c-0.48814 0 -0.65085 -0.24367 -0.65085 -0.7318 l0 -12.895 l-13.383 -18.631 c-0.12203 -0.12203 0 -0.28475 0.12203 -0.28475 l1.7894 0 c0.12203 0 0.24407 0.12203 0.32542 0.28475 l12.163 16.678 l12.122 -16.678 c0.12203 -0.16271 0.20299 -0.28475 0.3657 -0.28475 l1.7898 0 z M127.72810169491525 25.057999999999993 c0.28514 0 0.3665 0.080957 0.3665 0.44705 l0 1.0983 c0 0.28475 -0.081356 0.40678 -0.3665 0.40678 l-11.146 0 l0 30.142 c0 0.32542 -0.081356 0.44746 -0.3665 0.44746 l-0.97587 0 c-0.48814 0 -0.69153 -0.24367 -0.69153 -0.7318 l0 -29.858 l-11.105 0 c-0.28475 0 -0.44746 -0.081356 -0.44746 -0.40678 l0 -1.0983 c0 -0.32542 0.12203 -0.44746 0.44746 -0.44746 l24.285 0 z M160.31142372881357 52.39359999999999 c0.20339 0.20339 0.081755 0.48895 -0.28435 0.85505 c-3.0102 2.8881 -6.7119 4.6369 -11.593 4.6369 c-9.1932 0 -16.678 -7.2809 -16.678 -16.515 s7.4847 -16.597 16.678 -16.597 c4.5559 0 8.6644 1.7085 11.675 4.5966 c0.3661 0.3661 0.44746 0.61017 0.24407 0.77288 l-0.97627 0.81356 c-0.20299 0.20339 -0.3657 0.24367 -0.65044 -0.041077 c-1.75 -1.7492 -5.3703 -4.1492 -9.9262 -4.1492 c-10.047 0 -15.01 8.0542 -15.01 14.603 c0 6.6301 4.9627 14.522 15.01 14.522 c4.5559 0 7.9322 -2.3186 9.8034 -4.1085 c0.28475 -0.28475 0.48814 -0.44746 0.69153 -0.24407 z M191.63376271186442 25.057999999999993 c0.32542 0 0.44786 0.12203 0.44786 0.40678 l0 31.769 c0 0.24407 -0.081356 0.3661 -0.3661 0.3661 l-0.97627 0 c-0.44746 0 -0.65085 -0.24367 -0.65085 -0.65044 l0 -14.4 l-22.698 0 l0 14.603 c0 0.28514 -0.081356 0.44746 -0.3661 0.44746 l-1.1797 0 c-0.32542 0 -0.44746 -0.12203 -0.44746 -0.44746 l0 -31.688 c0 -0.28475 0.081356 -0.40678 0.44746 -0.40678 l1.139 0 c0.28475 0 0.40678 0.12203 0.40678 0.40678 l0 15.092 l22.698 0 l0 -15.092 c0 -0.28475 0.081356 -0.40678 0.40678 -0.40678 l1.1386 0 z"></path>
                            </g>
                        </svg>
                    </a>
                </div>

                <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
                    <form class="sidebar-form">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="btn-link">
                            <span class="icon icon-magnifying-glass"></span>
                        </button>
                    </form>
                    <ul class="nav nav-pills nav-stacked flex-column">
                        <li class="nav-header">Dashboards</li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Order history</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Fluid layout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Icon nav</a>
                        </li>

                        <li class="nav-header">More</li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">
                                Toolkit docs
                            </a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                    <hr class="visible-xs mt-3">
                </div>
            </nav>
        </div>
        <div class="col-md-9 content pr-5">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Dashboards</h6>
                    <h2 class="dashhead-title">Overview</h2>
                </div>

                <div class="btn-toolbar dashhead-toolbar">
                    <div class="btn-toolbar-item input-with-icon">
                        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
                        <span class="icon icon-calendar"></span>
                    </div>
                </div>
            </div>

            <hr class="mt-3">

            <div class="row text-center mt-5">
                <div class="col-md-4 mb-4 mb-md-3">
                    <div class="w-3 mx-auto">
                        <canvas
                                class="ex-graph"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-dataset="[230, 130]"
                                data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
                                data-labels="['Returning', 'New']">
                        </canvas>
                    </div>
                    <strong class="text-muted">Traffic</strong>
                    <h4>Allocated vs </h4>
                </div>
                <div class="col-md-4 mb-4 mb-md-3">
                    <div class="w-3 mx-auto">
                        <canvas
                                class="ex-graph"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-dataset="[330,30]"
                                data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
                                data-labels="['Returning', 'New']">
                        </canvas>
                    </div>
                    <strong class="text-muted">Token</strong>
                    <h4>ICO vs Public Allocation</h4>
                </div>
                <div class="col-md-4 mb-4 mb-md-3">
                    <div class="w-3 mx-auto">
                        <canvas
                                class="ex-graph"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-dataset="[100,260]"
                                data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
                                data-labels="['Referrals', 'Direct']">
                        </canvas>
                    </div>
                    <strong class="text-muted">Traffic</strong>
                    <h4>Direct vs Referrals</h4>
                </div>
            </div>

            <div class="hr-divider mt-5 mb-3">
                <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
            </div>

            <div class="row statcards">
                <div class="col-md-6 col-xl-3 mb-3 mb-md-4 mb-xl-0">
                    <div class="statcard statcard-success">
                        <div class="p-3">
                            <span class="statcard-desc">Page views</span>
                            <h2 class="statcard-number">
                                1,293
                                <small class="delta-indicator delta-positive">5%</small>
                            </h2>
                            <hr class="statcard-hr mb-0">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="sparkline"
                                data-chart="spark-line"
                                data-dataset="[[28,68,41,43,96,45,100]]"
                                data-labels="['a','b','c','d','e','f','g']"
                                style="width: 189px; height: 47px;">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-3 mb-md-4 mb-xl-0">
                    <div class="statcard statcard-danger">
                        <div class="p-3">
                            <span class="statcard-desc">Downloads</span>
                            <h2 class="statcard-number">
                                758
                                <small class="delta-indicator delta-negative">1.3%</small>
                            </h2>
                            <hr class="statcard-hr mb-0">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="sparkline"
                                data-chart="spark-line"
                                data-dataset="[[4,34,64,27,96,50,80]]"
                                data-labels="['a', 'b','c','d','e','f','g']"
                                style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-3 mb-md-4 mb-xl-0">
                    <div class="statcard statcard-info">
                        <div class="p-3">
                            <span class="statcard-desc">Sign-ups</span>
                            <h2 class="statcard-number">
                                1,293
                                <small class="delta-indicator delta-positive">6.75%</small>
                            </h2>
                            <hr class="statcard-hr mb-0">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="sparkline"
                                data-chart="spark-line"
                                data-dataset="[[12,38,32,60,36,54,68]]"
                                data-labels="['a', 'b','c','d','e','f','g']"
                                style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-3 mb-md-4 mb-xl-0">
                    <div class="statcard statcard-warning">
                        <div class="p-3">
                            <span class="statcard-desc">Downloads</span>
                            <h2 class="statcard-number">
                                758
                                <small class="delta-indicator delta-negative">1.3%</small>
                            </h2>
                            <hr class="statcard-hr mb-0">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="sparkline"
                                data-chart="spark-line"
                                data-dataset="[[43,48,52,58,50,95,100]]"
                                data-labels="['a', 'b','c','d','e','f','g']"
                                style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
            </div>

            <hr class="mt-5">

            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="list-group mb-3">
                        <h6 class="list-group-header">
                            Countries
                        </h6>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 62.4%;"></span>
                            United States
                            <span class="ml-a text-muted">62.4%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 15.0%;"></span>
                            India
                            <span class="ml-a text-muted">15.0%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 5.0%;"></span>
                            United Kingdom
                            <span class="ml-a text-muted">5.0%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 5.0%;"></span>
                            Canada
                            <span class="ml-a text-muted">5.0%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 4.5%;"></span>
                            Russia
                            <span class="ml-a text-muted">4.5%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 2.3%;"></span>
                            Mexico
                            <span class="ml-a text-muted">2.3%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 1.7%;"></span>
                            Spain
                            <span class="ml-a text-muted">1.7%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 1.5%;"></span>
                            France
                            <span class="ml-a text-muted">1.5%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 1.4%;"></span>
                            South Africa
                            <span class="ml-a text-muted">1.4%</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span class="list-group-progress" style="width: 1.2%;"></span>
                            Japan
                            <span class="ml-a text-muted">1.2%</span>
                        </a>

                    </div>
                    <a href="#" class="btn btn-outline-primary px-3">All countries</a>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="list-group mb-3">
                        <h6 class="list-group-header">
                            Most visited pages
                        </h6>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/ (Logged out)</span>
                            <span class="mr-a text-muted">3,929,481</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/ (Logged in)</span>
                            <span class="mr-a text-muted">1,143,393</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/tour</span>
                            <span class="mr-a text-muted">938,287</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/features/something</span>
                            <span class="mr-a text-muted">749,393</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/features/another-thing</span>
                            <span class="mr-a text-muted">695,912</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/users/username</span>
                            <span class="mr-a text-muted">501,938</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/page-title</span>
                            <span class="mr-a text-muted">392,842</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/some/page-slug</span>
                            <span class="mr-a text-muted">298,183</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/another/directory/and/page-title</span>
                            <span class="mr-a text-muted">193,129</span>
                        </a>

                        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                            <span>/one-more/page/directory/file-name</span>
                            <span class="mr-a text-muted">93,382</span>
                        </a>

                    </div>
                    <a href="#" class="btn btn-outline-primary px-3">View all pages</a>
                </div>
            </div>

            <div class="list-group mb-3">
                <h6 class="list-group-header">
                    Devices and resolutions
                </h6>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (1920x1080)</span>
                    <span class="text-muted">3,929,481</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (1366x768)</span>
                    <span class="text-muted">1,143,393</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (1440x900)</span>
                    <span class="text-muted">938,287</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (1280x800)</span>
                    <span class="text-muted">749,393</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Tablet (1024x768)</span>
                    <span class="text-muted">695,912</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Tablet (768x1024)</span>
                    <span class="text-muted">501,938</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Phone (320x480)</span>
                    <span class="text-muted">392,842</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Phone (720x450)</span>
                    <span class="text-muted">298,183</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (2560x1080)</span>
                    <span class="text-muted">193,129</span>
                </a>

                <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
                    <span>Desktop (2560x1600)</span>
                    <span class="text-muted">93,382</span>
                </a>

            </div>
            <a href="#" class="btn btn-outline-primary px-3">View all devices</a>

        </div>
    </div>
</div>

<div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Example modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You're looking at an example modal in the dashboard theme.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
            </div>
        </div>
    </div>
</div>
