<section class="section-hero hero-solar">
    <div class="section-overlay gradient-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm col-sm-6 m-auto">
                    <h3 class="text-center">Create A Swtych Account</h3>
                    <hr/>
                    <form id="signup-form">
                        <input type="hidden" v-model="csrf" value="">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" v-model="first_name" class="form-control" minlength="2"/>
                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" v-model="last_name" class="form-control" minlength="2"/>
                        </div>
                        <div class="form-group">
                            <label>email:</label>
                            <input type="email" v-model="email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" v-model="pwd" minlength="6" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password:</label>
                            <input type="password" v-model="confirm_pwd" minlength="6" class="form-control"/>
                        </div>
                        <button type="button" @click="onSubmit" class="btn btn-lg btn-primary btn-block">Submit
                        </button>
                    </form>
                    <div id="signup-alert" class="alert">
                        <label class="message"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{# section 'scripts'}}
    <script type="application/javascript" src="/javascripts/app.bundle.min.js"></script>
{{/section}}