@font-face {
  font-family: "knarfart";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/knarfart/knarfart-webfont.eot");
  src: url("../fonts/knarfart/knarfart-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/knarfart/knarfart-webfont.woff2") format("woff2"), url("../fonts/knarfart/knarfart-webfont.woff") format("woff"), url("../fonts/knarfart/knarfart-webfont.ttf") format("truetype"), url("../fonts/knarfart/knarfart-webfont.svg#knarfart") format("svg"); }
body {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-rendering: geometricPrecision;
  color: #fff; }

a {
  color: #00B7FF; }

.logo {
  font-size: 3em; }

.logo img {
  width: 150px;
  height: auto; }

.fart {
  color: #35be71; }

.badge.bg-success {
  background-color: #35be71; }

.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 2000; }

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 45, 49, 0.7);
  background-image: url("../images/pattern.png"); }

.loading::after {
  top: 33%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 8px solid #383a41;
  border-bottom-color: #565963;
  border-radius: 50%;
  animation: animLoader 0.8s linear infinite forwards; }

@-webkit-keyframes animLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.content {
  position: relative;
  min-height: 100vh;
  padding: 10vh 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content--highlight {
  padding: 0;
  background: rgba(0, 0, 0, 0.8); }

.content--nopadding {
  padding: 0; }

.content--boxes {
  min-height: 70vh; }

.content__inner {
  position: relative;
  z-index: 10;
  max-width: 992px;
  margin: 0 auto;
  text-align: center; }

#touch .content__inner {
  padding-top: 10vh; }

.content__inner--fheight {
  height: 60vh; }

.content__inner--half {
  flex: none;
  width: 50%;
  max-width: none;
  height: auto;
  padding: 15vh calc(25vw - 220px); }

.content__inner--half .content__title {
  font-size: 2.25em;
  margin-bottom: 0.5em;
  text-transform: uppercase; }

.content__inner--half .content__subtitle {
  font-size: 1.75em; }

.content__inner--half .link-more {
  color: rgba(0, 0, 0, 0.3); }

.content__inner--c1 {
  background: #4d61c5; }

.content__inner--c2 {
  background: #f7f4ec; }

.content__inner--c3 {
  background: #cc8969; }

.content__title {
  line-height: 1.25;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5vmax 0 5vmax;
  color: #484751; }

.content__title--color {
  color: #ef5350; }

.content__title--light {
  color: #f7f4ec; }

.content__title--center {
  text-align: center; }

.content__title .icon {
  font-size: 0.45em;
  display: inline-block;
  margin: 0 0.25em;
  color: #5b5d69; }

.content__subtitle {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0.5em 0 1em; }

.content__subtitle--light {
  color: #f7f4ec; }

.content--bg {
  background-position: 50% 50%;
  background-size: cover; }

.content-bg-overlay {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  text-align: center; }

.content.content--bg.content-bg-overlay {
  padding: 0 !important; }

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.8); }

.overlay-light {
  background-color: rgba(0, 0, 0, 0.3); }

.content--nasa {
  background-image: url(../images/unsplash/nasa-53884.jpg); }

.content--solar-desert {
  background-image: url(../images/unsplash/antonio-garcia-339626.jpg); }

#particles-js {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%; }

input.form-control {
  background: transparent !important; }

/*# sourceMappingURL=style.css.map */
