
#timeline {
    /*height: 100vh;*/
    position: relative;
    text-align: left;
    margin: 20px auto;
    max-width: 25vw;
}

#timeline ul {
    list-style: none;
    position: relative;
    padding: 1px 0;
    color: #fff;
    font-size: 13px;
}

#timeline ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    border-left: 2px dashed #fff;
}

#timeline ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

#timeline ul li:not(:first-child) {
    margin-top: 60px;
}

#timeline ul li > span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
}

#timeline ul li > span:before,
#timeline ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -5px;
    top: 0;
}

#timeline ul li span:after {
    top: 100%;
}

#timeline ul li > div {
    margin-left: 1px;
}

#timeline div .title, #timeline div .type {
    font-weight: bold;
    font-size: 1.2em;
}

#timeline div .info {
    /*font-weight: 300;*/
}

#timeline div > div {
    margin-top: 5px;
}

#timeline span.number {
    height: 100%;
}

#timeline span.number span {
    position: absolute;
    font-size: 1em;
    left: -90px;
    font-weight: bold;
}

#timeline span.number span:first-child {
    top: 0;
}

#timeline span.number span:last-child {
    top: 100%;
}
