/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");*/
/*body {*/

/*font-family: "Open Sans", sans-serif;*/
/*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 *!*/
/*background: #bea2e7;*/
/*!* Old browsers *!*/
/*background: -moz-linear-gradient(top, #bea2e7 0%, #86b7e7 100%);*/
/*!* FF3.6-15 *!*/
/*background: -webkit-linear-gradient(top, #bea2e7 0%, #86b7e7 100%);*/
/*!* Chrome10-25,Safari5.1-6 *!*/
/*background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);*/
/*!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );*/
/*!* IE6-9 *!*/
/*}*/
#timeline {
    /*height: 100vh;*/
    position: relative;
    text-align: left;
    /*margin: 0 auto;*/
}

#timeline ul {
    list-style: none;
    position: relative;
    padding: 1px 25vw;
    color: #fff;
    font-size: 13px;
}

#timeline ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    border-left: 2px dashed #fff;
}

#timeline ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

#timeline ul li:not(:first-child) {
    margin-top: 60px;
}

#timeline ul li > span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
}

#timeline ul li > span:before,
#timeline ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -5px;
    top: 0;
}

#timeline ul li span:after {
    top: 100%;
}

#timeline ul li > div {
    margin-left: 1px;
}

#timeline div .title, #timeline div .type {
    font-weight: bold;
    font-size: 1.2em;
}

#timeline div .info {
    /*font-weight: 300;*/
}

#timeline div > div {
    margin-top: 5px;
}

#timeline span.number {
    height: 100%;
}

#timeline span.number span {
    position: absolute;
    font-size: 10px;
    left: -5vw;
    font-weight: bold;
}

#timeline span.number span:first-child {
    top: 0;
}

#timeline span.number span:last-child {
    top: 100%;
}
