<div class="container-fluid">
    <div class="row">
        {{#ifCond step '===' 'verify-email'}}
            {{> verify-email}}
        {{/ifCond}}
        {{#ifCond step '===' 'whitelist'}}
            {{> identity-form}}
        {{/ifCond}}
    </div>
</div>
