<div class="container-fluid">
    <div class="row">
        {{#ifCond step '===' 'verify-email'}}
            {{> verify-email}}
        {{/ifCond}}
        {{#ifCond step '===' 'whitelist'}}
            {{> identity-form}}
        {{/ifCond}}
        {{#ifCond step '===' 'complete'}}
            <div class="container my-5 py-5">
                <div class="row">
                    <div class="col-sm text-center">
                        <h3>You have been added to the whitelist and will receive further instructions soon.</h3>
                        <div class="my-5">
                            <a href="/" class="btn btn-link">Back to Swytch</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/ifCond}}
    </div>
</div>
